body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: calc(100% - (2*15%));
    height: 7vh;
    position: fixed;
    top: 0;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 4.5vh;
    font-weight: 500;
}

.logo a {
    color: #f42e2e;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vh;
    font-weight: 400;
}

.header-menu-item,
.special-button {
    padding: 0px 0px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-menu-item a,
.special-button a {
    padding: 10px 15px;
}

.header-menu-item a:hover {
    color: #f42e2e;
}

.special-button {
    background-color: #f42e2e;
    color: white;
    transition: background-color 0.2s ease-in-out;
    border-radius: 2vh;
}

.special-button:hover {
    background-color: #d63e3e;
}

.side-menu {
    color: black;
    background-color: white;
    list-style-type: none;
    width: 35vw;
    height: 100vh;
    padding: 15px 15px;
    font-size: 1vw;
    z-index: 10;
    border-top: 2px solid #f42e2e;
    box-shadow: 0px 0px 10px rgb(130, 130, 130);
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.side-menu-active {
    transform: translateX(0);
}

.side-menu-close-icon {
    width: 30px;
    height: 30px;
    align-self: flex-start;
    justify-self: flex-start;
    cursor: pointer;
}

.lessons-list-wrapper {
    margin: 3.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-menu-lessons-list {
    padding: 0;
    margin: 1vh 1vw;
    list-style-type: none;
    text-align: center;
}

.side-menu-lessons-list li {
    padding: 10px 10px;
}

.side-menu-lessons-list li:hover {
    color: #f42e2e;
}

.side-menu-lessons-list li:first-child {
    font-size: 1.1vw;
    margin-bottom: 5px;
    background-color: #f42e2e;
    color: white;
    border-radius: 22px;
}

.side-menu-lessons-list li:first-child:hover {
    color: white;
}